.photo-grid {
  display: flex;
  max-width: 1184px;
  margin: 92px auto 0;
  padding: 0;
  align-content: flex-start;
}

@media screen and (max-width: 1100px) {
  .photo-grid {
    max-width: 928px;
  }
} 

@media screen and (max-width: 950px) {
  .photo-grid {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 450px) {
  .photo-grid {
   max-width: 288px;
   margin-top: 64px;
  }
}