.place__link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-underline-offset: 4px;
    transition: opacity 0.5s linear;
}

.place__link:hover {
    opacity: 0.5;
}